.podiums {
  margin-top: 100px;
  align-items: center;
  clear: both;
  /*height: 500px;
  width: 500px;*/
  .podium {
    height: 125px;
    width: 130px;
    cursor: move;
    float: left;
  }
  div:nth-child(3) {
    margin-top: 315px;
    margin-left: 200px;
    align-items: center;
  }
  div:nth-child(2) {
    margin-top: 110px;
    margin-left: 200px;
    align-items: center;
  }
  div:nth-child(1) {
    margin-top: 230px;
    margin-left: 300px;
    align-items: center;
  }
}