#caja {
  height: 768px;
  width: 1366px;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  display: none;
  overflow: hidden;
  position: absolute;
}

#respuesta {
  opacity: 0.8;
  background-color: #e3c2d5;
  border-radius: 18px;
  border-style: solid;
  border-width: 2px;
  border-color: #7b265f;
  height: 120px;
  width: 550px;
  left: 130px;
  top: 90px;
  display: none;
  position: relative;
  padding: 10px;
}

#formu {
  opacity: 0.8;
  background-color: #e3c2d5;
  border-radius: 18px;
  border-style: solid;
  border-width: 2px;
  border-color: #7b265f;
  height: 480px;
  width: 550px;
  left: 650px;
  top: 154px;
  display: block;
  position: relative;
  padding: 10px;
}

.jugarForm {
  position: absolute;
  left: 350px;
  top: 350px;
}

#vuelta {
  height: 200px;
  width: 150px;
  left: 1150px;
  top: 591px;
  display: none;
  position: absolute;
  z-index: 99;
}

#volver {
  display: none;
  float: center;
}

p {
  font-family: 'Pangolin', cursive;
  color: #7b265f;
  z-index: 99;
}

h2, h3 {
  font-family: 'Pangolin', cursive;
  color: #7b265f;
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.jugar {
  // background: url('imagenes/jugar.png') no-repeat;
  width: 180px;
  height: 120px;
  float: right;
}

.position-arrow {
  img:nth-child(1) {
    position: relative;
    top: 570px;
    left: 300px;
    align-items: center;
  }
  img:nth-child(2) {
    position: relative;
    top: 570px;
    left: 1000px;
    align-items: center;
  }
}

.position-arrow-ipc {
  img:nth-child(1) {
    position: relative;
    top: 480px;
    align-items: center;
  }
  img:nth-child(2) {
    position: relative;
    top: 525px;
    left: 900px;
    align-items: center;
  }
}

.position-arrow-finish {
  img:nth-child(1) {
    position: relative;
    top: 442px;
    left: 1150px;
    align-items: center;
  }
}

.response {
  opacity: 0.8;
  background-color: #e3c2d5;
  border-radius: 18px;
  border-style: solid;
  border-width: 2px;
  border-color: #7b265f;
  height: 150px;
  width: 580px;
  left: 520px;
  top: 90px;
  position: relative;
  padding: 10px;
}

